body{
    background: #9AC8CD;
    color:#1E0342;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.titleh{
    /*background: #1E0342;*/
    background-image: url(../assetes/images/samih2.jpg);
    background-repeat: repeat-x;
    color: white;
    width: 100%;
    text-align: center;
}

.subtitle{
    text-align: left; 
    color: #1E0342;
}


#pimg{
    border-image: linear-gradient(#9AC8CD, #3bafb3) 30;
    border-width: 5px;
    border-style: solid;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}